footer {
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
    text-transform: uppercase;

    .input-row {
        font-size: 16pt;
        width: 100%;
        max-width: 400px;
        align-items: center;
        input[type="text"] {
            font-size: 20pt;
        }
    }

    span {
        font-size: 14pt;
        text-align: right;
    }
}

@media (max-width: 768px) {
    footer.row {
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--gap) * 2);

        .input-row {
            width: 100%;
        }

        span {
            align-self: center;
        }
    }
}
