footer {
    font-size: 16pt;
    text-transform: uppercase;
    align-items: flex-start;
    gap: calc(var(--gap) * 2);

    .input-row {
        width: 100%;
        font-size: 16pt;
        align-items: center;
        input[type="text"] {
            font-size: 20pt;
        }
    }

    span {
        font-size: 14pt;
        align-self: center;
    }
}

@media (min-width: 768px) {
    footer.column {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .input-row {
            max-width: 400px;
        }
    }
}
