* {
    box-sizing: border-box;

    --corners: 10px;
    --border-width: 4px;
    --border-color: #000;
    --border-style: var(--border-width) solid var(--border-color);

    --mobile-gap: 10px;
    --desktop-gap: 15px;
    --gap: var(--mobile-gap);
}

body {
    font-family: "LXGW WenKai Mono TC", sans-serif;
    font-weight: bold;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

.hidden-input {
    height: 0;
    width: 0;
    opacity: 0;
}

.input-row {
    display: flex;
    font-size: 18pt;
    gap: calc(var(--gap) / 2);

    label {
        flex: 0 0 auto;
    }

    input[type="text"] {
        max-width: 100%;
        flex: 1 1 0;
        min-width: 0;
        font-family: "Caveat", sans-serif;
        border: none;
        border-bottom: var(--border-style);
        border-bottom-width: calc(var(--border-width) / 2);
    }

    .radio-input-container {
        flex: 1 1 0;
        min-width: 0;
        gap: 2px;

        input[type="radio"] {
            flex: 0 1 17.5px;
            margin: 0;
            padding: 0;
            min-width: 0;
        }
    }
}

label {
    text-transform: uppercase;
}

@media (min-width: 480px) {
    body {
        max-width: 480px;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 900px;
    }

    * {
        --gap: var(--desktop-gap);
    }
}
