#info-body {
    gap: var(--gap);
    width: 100%;
    min-width: 0;

    .input-row {
        display: flex;
    }
}

#character-info {
    margin-bottom: calc(var(--gap) * 2);

    .input-row {
        font-size: 24pt;
        gap: calc(var(--gap) / 2);

        input[type="text"] {
            flex: 1 1 auto;
            font-size: 20pt;
            text-align: center;
        }
    }
}

#character-body {
    > .row {
        gap: calc(var(--gap) * 2);
        min-width: 0;

        > .column {
            flex: 1 1 0;
            min-width: 0;
        }
    }

    .input-row {
        font-size: 18pt;
        gap: calc(var(--gap) / 2);

        label {
            flex: 0 0 9ch;
        }
    }

    .radio-input-container {
        flex: 1 1 0;
        min-width: 0;
        gap: 2px;
    }

    input[type="text"] {
        max-width: 100%;
        flex: 1 1 0;
        min-width: 0;
    }

    input[type="radio"] {
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
        min-width: 0;
    }
}

@media (min-width: 768px) {
    #info-body {
        flex: 1 1 0;
        width: auto;
    }
}
