main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);
}

@media (min-width: 768px) {
    #character-visuals {
        flex: 0 0 350px;
    }

    #top {
        flex-direction: row;
    }
}
