main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split-row {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2.5);
    margin-bottom: calc(var(--gap) * 2.5);
}

.container {
    border: var(--border-style);
    border-radius: var(--corners);
    padding: calc(var(--gap) * 2);
    position: relative;

    h2 {
        position: absolute;
        top: -1.6ex;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24pt;
        padding: 0;
        margin: 0;
        text-transform: uppercase;

        .heading-bg {
            background: var(--background-color);
            padding: 0 5px;
        }
    }
}

@container page (min-width: 768px) {
    .container {
        padding: var(--gap);
        padding-top: max(calc(var(--gap) * 1.2), 20px);
    }

    .left-split {
        flex: 0 0 300px;
    }

    .right-split {
        flex: 1 1 0;
        min-width: 0;
    }

    .split-row {
        flex-direction: row;
        gap: calc(var(--gap) * 2);
        margin-bottom: calc(var(--gap) * 2);
    }

    #character-beliefs.left-split {
        flex: 0 0 240px;
    }
}
